.loading {
  @include size(calc(100vw - var(--scroll-bar)), 100vh);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $rgba2;
  z-index: 2;

  p {
    font-size: szrem(28);
    color: $white;
    font-family: $font3;
    margin: 0;
  }
}
